Instructions:

(1) Load ICD category code descriptions into dataframe. Do not store the file on disk.
  url: https://github.com/kamillamagna/ICD-10-CSV/blob/master/categories.csv?raw=true
(2) Load ICD block descriptions into a dataframe. Do no store any files to disk
  url: https://www.aapc.com/icd-10/
  hint: consider using `pd.read_html`
(3) Count all the icd10 codes characterized as diseases according to the ICD block description
(4) From the codes in step (3) isolate though refering to 'viral' or 'virus' and concatenate, separating by semicolon

In [7]:
import pandas as pd
url='https://raw.githubusercontent.com/kamillamagna/ICD-10-CSV/master/categories.csv'
category_code = pd.read_csv(url,sep=",")  
category_code

        A00                                            Cholera
0       A01                     Typhoid and paratyphoid fevers
1      A010                                      Typhoid fever
2      A011                                Paratyphoid fever A
3      A012                                Paratyphoid fever B
4      A013                                Paratyphoid fever C
...     ...                                                ...
24622   Z99  Dependence on enabling machines and devices, n...
24623  Z991                           Dependence on respirator
24624  Z992                       Dependence on renal dialysis
24625  Z993                           Dependence on wheelchair
24626  Z998  Dependence on other enabling machines and devices

[24627 rows x 2 columns]

In [ ]:
url=''
block_desc = pd.read_csv(url,sep=",")  
block_desc